<template name="bottom_control">
    <div class="row">
        	<!-- <div class="col-lg-3">
        		<div class="row">
            		<div class="col-md-12">
            			<a href="{{pathFor route='startup'}}" class="btn btn-block btn-primary m-t" id="startup">STARTUP</a>
            		</div>
            	</div>
        	</div>


        	<div class="col-lg-6">
        		<h5 class="text-center">Overall progress</h5>
                <div class="progress progress-striped">
                        {{#each players}}
							<div style="width: {{player_share}}%; background-color:{{player_color}};" class="progress-bar progress-bar-success">
                                <span style="color: black;">{{player_share_text}}% {{player.username}}</span>
                            </div>
                        {{/each}}
                        <div style="width: {{player_share}}%;" class="progress-bar progress-bar-success">
                            <span>{{player_share}}% {{player.username}}</span>
                        </div>
                        <div style="width: {{free_share}}%;" class="progress-bar progress-bar-warning">
                            <span>{{free_share}}% Other</span>
                        </div>
                </div>
                                
        	</div> -->


            <div class="col-lg-3">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{pathFor route='world'}}" class="btn btn-block btn-success m-t" id="world">WORLD</a>
                    </div>
                </div>
            </div>

        </div>
</template>