<template name="bottom_control">
    <div class="wrapper wrapper-content">
        <div class="row">
        	<div class="col-lg-3">
        		<div class="row">
            		<div class="col-md-12">
            			<a href="{{pathFor route='company'}}" class="btn btn-block btn-primary m-t" id="startup">COMPANY</a>
            		</div>
            	</div>
        	</div>


        	<div class="col-lg-6">
        		<h5 class="text-center">Overall progress</h5>
                <div class="progress progress-striped">
                        {{#each products}}
							<div style="width: {{product_share}}%; background-color:{{product_color}};" class="progress-bar progress-bar-success">
                                <span style="color: black;">{{product_share}}% {{product_name}}</span>
                            </div>
                        {{/each}}
                </div>
                                
        	</div>


            <div class="col-lg-3">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{{pathFor route='world'}}" class="btn btn-block btn-success m-t" id="world">WORLD</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>