<template name="news">
    <div class="ibox" style="margin-bottom:10px;">
                    <div class="ibox-content inspinia-timeline" style="padding-bottom:0px;">




                        {{#each news}}
                            <div class="timeline-item">
                                <div class="row">
                                    <div class="col-md-3 date">
                                        <i class="fa fa-{{type}}"></i>
                                        {{time_period}}
                                        <br>
                                        <small class="text-navy">time period</small>
                                    </div>
                                    <div class="col-md-9 no-top-border content" style="width:80%">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <p class="m-b-xs"><strong>{{header}}</strong></p>
                                                <p>{{text}}</p>
                                            </div>
                                            <!-- <div class="col-md-4">
                                                <div class="stat-percent font-bold text-navy">{{news_demand}}% <i class="fa fa-level-up"></i></div><strong>Demand: </strong><br>
                                                <div class="stat-percent font-bold text-navy">{{news_market}}% <i class="fa fa-level-up"></i></div><strong>Market: </strong><br>
                                                <strong>Region: </strong> <div class="pull-right">{{news_region}}</div><br>
                                                <strong>Pref.: </strong> <div class="pull-right">{{news_preference}}</div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}

   
                    </div>
                </div>
</template>                