<template name="news">
    <div class="ibox" style="margin-bottom:10px;">
                    <div class="ibox-content inspinia-timeline" style="padding-bottom:0px;">


                        <!-- {{#each news_list}}
                            <div class="timeline-item">
                                <div class="row">
                                    <div class="col-xs-3 date">
                                        <i class="{{type_icon}}"></i>
                                        {{news_time}}
                                        <br>
                                    </div>
                                    <div class="col-xs-9 content">
                                        <p class="m-b-xs"><strong>{{news_title}}</strong></p>

                                        <p>{{news_message}}</p>
                                    </div>
                                </div>
                            </div>
                        {{/each}} -->


                        {{#each news}}
                            <div class="timeline-item">
                                <div class="row">
                                    <div class="col-md-3 date">
                                        <i class="fa fa-{{news_type}}"></i>
                                        {{time_period}}
                                        <br>
                                        <small class="text-navy">time period</small>
                                    </div>
                                    <div class="col-md-9 no-top-border content" style="width:80%">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <p class="m-b-xs"><strong>{{news_theme}}</strong></p>
                                                <p>{{news_message}}</p>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="stat-percent font-bold text-navy">{{news_demand}}% <i class="fa fa-level-up"></i></div><strong>Demand: </strong><br>
                                                <div class="stat-percent font-bold text-navy">{{news_market}}% <i class="fa fa-level-up"></i></div><strong>Market: </strong><br>
                                                <strong>Region: </strong> <div class="pull-right">{{news_region}}</div><br>
                                                <strong>Pref.: </strong> <div class="pull-right">{{news_preference}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}

                        <!-- <div class="timeline-item">
                            <div class="row">
                                <div class="col-md-3 date">
                                    <i class="fa fa-check"></i>
                                    150
                                    <br>
                                    <small class="text-navy">time period</small>
                                </div>
                                <div class="col-md-6 no-top-border" style="width:55%;">
                                    <p class="m-b-xs"><strong>Global Mobile Technology Conference</strong></p>
                                    <p>People from the industry have forecast a strong increase of mobile messengers.</p>
                                </div>
                                <div class="col-md-3 pull-right">
                                    <div class="stat-percent font-bold text-navy">7% <i class="fa fa-level-up"></i></div><strong>Demand: </strong>
                                    <div class="stat-percent font-bold text-navy">15% <i class="fa fa-level-up"></i></div><strong>Market: </strong>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-md-3 date">
                                    <i class="fa fa-usd"></i>
                                    100
                                    <br>
                                    <small class="text-navy">time period</small>
                                </div>
                                <div class="col-md-6 no-top-border" style="width:55%;">
                                    <p class="m-b-xs"><strong>Global Mobile Technology Conference</strong></p>
                                    <p>People from the industry have forecast a strong increase of mobile messengers.</p>
                                </div>
                                <div class="col-md-3 pull-right">
                                    <div class="stat-percent font-bold text-navy">7% <i class="fa fa-level-up"></i></div><strong>Demand: </strong>
                                    <div class="stat-percent font-bold text-navy">15% <i class="fa fa-level-up"></i></div><strong>Market: </strong>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-md-3 date">
                                    <i class="fa fa-newspaper-o"></i>
                                    50
                                    <br>
                                    <small class="text-navy">time period</small>
                                </div>
                                <div class="col-md-6 no-top-border" style="width:55%;">
                                    <p class="m-b-xs"><strong>Global Mobile Technology Conference</strong></p>
                                    <p>People from the industry have forecast a strong increase of mobile messengers.</p>
                                </div>
                                <div class="col-md-3 pull-right">
                                    <div class="stat-percent font-bold text-navy">7% <i class="fa fa-level-up"></i></div><strong>Demand: </strong>
                                    <div class="stat-percent font-bold text-navy">15% <i class="fa fa-level-up"></i></div><strong>Market: </strong>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-warning"></i>
                                    11:00 am
                                    <br>
                                    <small class="text-navy">21 hour ago</small>
                                </div>
                                <div class="col-xs-9 content">
                                    <p class="m-b-xs"><strong>Phone with Jeronimo</strong></p>
                                    <p>
                                    Lorem Ipsum has been the industry's standard dummy text ever since.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-usd"></i>
                                    09:00 pm
                                    <br>
                                    <small>21 hour ago</small>
                                </div>
                                <div class="col-xs-9 content">
                                    <p class="m-b-xs"><strong>Go to the doctor dr Smith</strong></p>
                                    <p>
                                        Find some issue and go to doctor.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-newspaper-o"></i>
                                    11:10 pm
                                </div>
                                <div class="col-xs-9 content">
                                    <p class="m-b-xs"><strong>Chat with Sandra</strong></p>
                                    <p>
                                        Lorem Ipsum has been the industry's standard dummy text ever since.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-warning"></i>
                                    12:50 pm
                                    <br>
                                    <small class="text-navy">48 hour ago</small>
                                </div>
                                <div class="col-xs-9 content">
                                    <p class="m-b-xs"><strong>Chat with Monica and Sandra</strong></p>
                                    <p>
                                        Web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-user"></i>
                                    08:50 pm
                                    <br>
                                    <small class="text-navy">68 hour ago</small>
                                </div>
                                <div class="col-xs-9 content">
                                    <p class="m-b-xs"><strong>Phone to James</strong></p>
                                    <p>
                                        Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="row">
                                <div class="col-xs-3 date">
                                    <i class="fa fa-check"></i>
                                    7:00 am
                                    <br>
                                    <small class="text-navy">3 hour ago</small>
                                </div>
                                <div class="col-xs-9 content">
                                    <p class="m-b-xs"><strong>Release Version 1.0.1</strong></p>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
</template>                