<template name="game_product">
    <div class="wrapper wrapper-content">
        {{>company_menu}}
        {{#if has_products}}


    <div class="ibox">
        <div class="ibox-content">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width:20%;">Product name</th>
                        <th style="width:20%;">Product price</th>
                        <th style="width:40%;">Product status</th>
                        <th class="pull-right" style="width:20%;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-toggle="collapse" data-target="#collapse" class="clickable" id="colapse_toogle">
                        <td colspan="4">
                            <h3>
                                <strong>
                                        Product starter form
                                </strong>
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div id="collapse"  class="collapse">
                                {{>product_registration}}
                            </div>
                        </td>
                    </tr>
                {{#each products}}
                    <tr>
                        {{#if product_editable}}
                            <td>
                                <input type="text" placeholder='Product name' value='{{product_name}}' class="form-control" id="product_name{{product_id}}">
                            </td>
                            <td>
                                <input type="text" placeholder='Product price' value='{{product_price}}' class="form-control" id="product_price{{product_id}}">
                            </td>
                        {{else}}
                        <td data-toggle="collapse" data-target="#collapse{{product_id}}" class="clickable">
                            <h3>
                                <strong style="color: {{product_color}}">
                                        {{product_name}}
                                </strong>
                            </h3>
                        </td>
                        <td>
                            <h3>
                                <strong>$ {{product_price}}</strong>
                            </h3>
                        </td>
                        {{/if}}
                        <td>
                            <h3>
                                <strong>{{product_status}}</strong>
                                <div class="stat-percent">{{product_production_progress}}%</div>
                                <div class="progress progress-mini">
                                    <div style="width: {{product_production_progress}}%; background-color:{{product_color}};" aria-valuemax="100" aria-valuemin="0" aria-valuenow="35" role="progressbar" class="progress-bar progress-bar-primary">
                                        <span class="sr-only">Complete: {{product_production_progress}}%</span>
                                    </div>
                                </div>
                            </h3>
                        </td>
                        <td class="pull-right">
                            {{#if product_editable}}
                                <button id="save_product" class="btn btn-sm btn-primary btn-rounded" style="margin-top:5px;">Save</button>
                            {{else}}
                                <button id="edit_product" class="btn btn-sm btn-warning btn-rounded" style="margin-top:5px;">Edit</button>
                            {{/if}}
                            <button id="delete_product" class="btn btn-sm btn-danger btn-rounded" style="margin-top:5px;">Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <div id="collapse{{product_id}}"  class="collapse">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tech-list">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="width:15%;">Feature</th>
                                                        <th style="width:10%;">Production</th>
                                                        <th style="width:5%;">Department</th>
                                                        <th style="width:5%;">Employees</th>
                                                        <th style="width:10%;">Prop price</th>
                                                        <th style="width:10%;">Prop costs</th>
                                                        <th style="width:20%;">Production progress</th>
                                                        <th style="width:15%;" class="text-center">Level</th>
                                                        <th style="width:15%;" class="project-actions">Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {{#each prop}}    
                                                        <tr id='feature_row'>
                                                            <td class="project-title">
                                                                {{prop_name}}
                                                            </td>
                                                            <td class="project-title">
                                                                {{time_to_achieve}} periods
                                                            </td>
                                                            <td class="project-title">
                                                                {{neccessary_department}}
                                                            </td>
                                                            <td class="project-title">
                                                                {{neccessary_employees_number}}
                                                            </td>
                                                            <td class="project-title">
                                                                ${{prop_price}}
                                                            </td>
                                                            <td class="project-title">
                                                                ${{prop_costs}}
                                                            </td>
                                                            <td class="project-completion">
                                                                <small>Completion with: {{progress}}%</small>
                                                                <div class="progress progress-mini">
                                                                    <div style="width: {{progress}}%;" class="progress-bar"></div>
                                                                </div>
                                                            </td>
                                                            <td class="project-title">
                                                                <div class="row">
                                                                    <div class="col-md-4 col-md-offset-4">
                                                                        <p class="text-center" id="feature_number">{{prop_level}} / {{max_prop_level}}</p>
                                                                    </div>
                                                                    {{#if new_level}}
                                                                        <div class="col-md-2">
                                                                            <a href="#" id="feature_level_plus" class="btn btn-white btn-xs {{feature_level_increase_enabled}}"><i class="fa fa-lg fa-plus"></i></a>
                                                                        </div>
                                                                    {{/if}}
                                                                </div>
                                                            </td>
                                                            <td class="project-actions">
                                                                <!-- {{#if feature_completed}}
                                                                    {{#if is_published}}
                                                                        <button class="btn btn-xs" id="published" disabled>Published</button>
                                                                    {{else}}
                                                                        <button class="btn btn-success btn-xs" id="publish">Publish</button>
                                                                    {{/if}}
                                                                {{else}} -->
                                                                    <!-- {{#if is_stop}}
                                                                        {{#if not_first_level}}
                                                                            <button class="btn btn-warning btn-xs" id="reject">Reject</button>
                                                                        {{/if}}
                                                                        <button class="btn btn-primary btn-xs" id="start">Start</button>
                                                                    {{else}}
                                                                        <button class="btn btn-warning btn-xs" id="stop">Stop</button>
                                                                    {{/if}}-->
                                                                <!-- {{/if}} -->
                                                                    <button class="btn btn-danger btn-xs" id="delete_prop">Delete</button>
                                                            </td>
                                                        </tr>
                                                    {{/each}}

                                                    {{#each new_features_lists}}
                                                        <tr>
                                                            <td>
                                                                <form id="new_feature{{value}}">
                                                                <select class="form-control required" name="feature_name" id="feature_name" aria-required="true">
                                                                    <option value="" selected>Select feature</option>
                                                                    {{#each features}}
                                                                        <option value="{{feature_name}}">{{feature_name}}</option>    
                                                                    {{/each}}
                                                                </select>
                                                                </form>
                                                            </td>
                                                            <td>{{time_to_achieve}} sec</td>
                                                            <td>{{neccessary_employees_number}} ({{available_employees_number}})</td>
                                                            <td>{{feature_price}}</td>
                                                            <td><strong>${{feature_sum}}</strong></td>
                                                            <td>
                                                                <small>Completion with: 0%</small>
                                                                <div class="progress progress-mini">
                                                                    <div style="width: 0%;" class="progress-bar"></div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="row">
                                                                    <div class="col-md-4 col-md-offset-4">
                                                                        <p class="text-center" id="feature_number">{{feature_level}} / {{max_feature_level}}</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="project-actions">
                                                                <button class="btn btn-primary btn-xs" id="create_new_feature">Create</button>
                                                            </td>
                                                        </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    {{else}}
        {{>product_registration}}
    {{/if}}
    
    </div>
</template>