<!-- <template name="customers"> -->
    <!-- Page heading -->

 <!--    {{>company_card}} -->
    
<!--     {{> pageHeading title='Customers' category='Customers' }}

    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="ibox"> -->
            <!-- <div class="ibox-title">

            </div> -->
<!--             <div class="ibox-content">

                <div class="tech-list">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Product</th>
                                <th>Loyalty</th>
                                <th>Selfish</th>
                                <th>Threshold</th>
                                <th>Friends</th>
                            </tr>
                        </thead>
                        <tbody id="userstablebody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>




<template name="customer">
</template> -->