<template name="customers_info">
    <div class="wrapper wrapper-content animated fadeInUp" style="padding-bottom:0px; padding-top:10px;">
    {{>world}}
    <!-- <div class="wrapper wrapper-content animated fadeInUp"> -->
        <div class="row">
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">Periodically</span>
                                <h5>Active customers</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{total_active_customers}}</h1>
                                <!-- <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div> -->
                                <small>Total active customers</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">Periodically</span>
                                <h5>Income</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{total_income}}</h1>
                                <!-- <div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div> -->
                                <small>Total income</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">Periodically</span>
                                <h5>Conservatism</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{total_conservatism}}</h1>
                                <!-- <div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div> -->
                                <small>Total conservatism</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <span class="label label-success pull-right">Periodically</span>
                                <h5>User activity</h5>
                            </div>
                            <div class="ibox-content">
                                <h1 class="no-margins">{{total_user_activity}} %</h1>
                                <!-- <div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div> -->
                                <small>Total user activity</small>
                            </div>
                        </div>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div id="world_pie_chart">{{createChart region="world"}}</div>
                            </div>
                        </div>
                    </div>
                {{#each regions}}
                    <div class="col-lg-2">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div id="region_{{region_id}}_pie_chart">{{createChart region=region_id}}</div>
                            </div>
                        </div>
                    </div>
                {{/each}}
                </div>
            </div>
        </div> -->
<!--         <div class="row">
            <div class="col-lg-12">
               <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>User project list</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-hover no-margins">
                            <thead>
                            <tr>
                                <th>Status</th>
                                <th>Date</th>
                                <th>User</th>
                                <th>Value</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><small>Pending...</small></td>
                                    <td><i class="fa fa-clock-o"></i> 11:20pm</td>
                                    <td>Samantha</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 24% </td>
                                </tr>
                                <tr>
                                    <td><span class="label label-warning">Canceled</span> </td>
                                    <td><i class="fa fa-clock-o"></i> 10:40am</td>
                                    <td>Monica</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 66% </td>
                                </tr>
                                <tr>
                                    <td><small>Pending...</small> </td>
                                    <td><i class="fa fa-clock-o"></i> 01:30pm</td>
                                    <td>John</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 54% </td>
                                </tr>
                                <tr>
                                    <td><small>Pending...</small> </td>
                                    <td><i class="fa fa-clock-o"></i> 02:20pm</td>
                                    <td>Agnes</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 12% </td>
                                </tr>
                                <tr>
                                    <td><small>Pending...</small> </td>
                                    <td><i class="fa fa-clock-o"></i> 09:40pm</td>
                                    <td>Janet</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 22% </td>
                                </tr>
                                <tr>
                                    <td><span class="label label-primary">Completed</span> </td>
                                    <td><i class="fa fa-clock-o"></i> 04:10am</td>
                                    <td>Amelia</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 66% </td>
                                </tr>
                                <tr>
                                    <td><small>Pending...</small> </td>
                                    <td><i class="fa fa-clock-o"></i> 12:08am</td>
                                    <td>Damian</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 23% </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> 
            </div>
        </div> -->

        <!-- <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Customers graph</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="graph">
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ratio of conservatism and income</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="scatter_digramm" class="ct-perfect-fourth">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


        <div class="row">
            {{#each customers}}
                {{>customer}}
            {{/each}}
        </div>

   <!--  </div> -->
   </div>
</template>







<template name="customer">
  <div class="col-lg-4 col-md-6 col-xs-6 col-sm-6">
    <div class="ibox">
      <div class="ibox-title">
        <div class="row">
          <div class="col-md-3">
            <h2>ID: {{customer_id}}</h2>
            Group: <strong>{{customer_group}}</strong><hr>
            Region: <strong>{{customer_region}}</strong>
          </div>
          <div class="col-md-4">
            Income: <strong>${{customer_income}}</strong><br>
            Product: <strong>{{customer_product.product_name}}</strong><br>
            Activity: <strong>{{customer_activity}}</strong><br>
            Base conservatism: <strong>{{base_customer_conservatism}}</strong><br>
            Conservatism: <strong>{{customer_conservatism}}</strong><br>
            Preferences: <strong>{{customer_pref}}</strong>
          </div>
          <div class="col-md-5">
            <h3>Neighbors: </h3>
            <table class="table">
              <thead>
                <tr>
                  {{#each customer_neighbors}}
                    <th>id: <br>{{customer_id}}</th>
                  {{/each}} 
                </tr>
              </thead>
              <tbody>
                <tr>
                  {{#each customer_neighbors}}
                    <td>w: <br>{{weight}}</td>
                  {{/each}}  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="ibox-content">
        <table class="table">
          <thead>
            <tr>
              <th style="width:3%;">Product</th>
              <th>Price</th>
              <th>Conserv</th>
              <th>Utility</th>
              <th>Graph Utility</th>
              <th>Conserv Utility</th>
              <th>Product value</th>
              <!-- <th>Needed 1</th>
              <th>Needed 2</th>
              <th>Needed 3</th> -->
            </tr>
          </thead>
          <tbody>
            {{#each products}}
              <tr style="{{chosen_product}}">
                <td>
                  {{product_name}}
                </td>
                <td>{{product_price}}</td>
                <td>{{customer_product_conservatism}}</td>
                <td>{{product_utility}}</td>
                <td>{{product_graph_utility}}</td>
                <td>{{product_conserv_utility}}</td>
                <td>{{product_value}}</td>
                <!-- {{#each product_needed}}
                  <td>
                    {{value}}% ({{weight}}) <br> {{prop.prop_1}} / {{prop.prop_2}} / {{prop.prop_3}}
                  </td>  
                {{/each}} -->
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
