<template name="segment_info">
    <div class="wrapper wrapper-content animated fadeInUp" style="padding-bottom:0px; padding-top:10px;">
{{>world}}
        <!--<div class="wrapper wrapper-content animated fadeInUp"> -->
            <div class="ibox">
                <div class="ibox-content">
                    <div class="p-w-md m-t-sm">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-sm-4">
                                    <h1 class="m-b-xs">
                                        $ {{current_world_avg_price}}
                                    </h1>
                                    <small>
                                        Avg. price in current period
                                    </small>
                                    <!-- {{> sparkline type="line" array=current_avg_price_array options=options1}} -->
                                    <div id="current_world_avg_price_graph" class="sparklines" values='{{current_avg_price_array}}'></div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <small class="stats-label">Average (10)</small>
                                            <h4>$ {{avg_price_10}}</h4>
                                        </div>

                                        <div class="col-xs-4">
                                            <small class="stats-label">% Rise</small>
                                            <h4>{{price_rise}}%</h4>
                                        </div>
                                        <div class="col-xs-4">
                                            <small class="stats-label">Last period</small>
                                            <h4>$ {{last_period_avg_price}}</h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <h1 class="m-b-xs">
                                        {{current_world_users}}
                                    </h1>
                                    <small>
                                        Users in current period
                                    </small>
                                    <!-- {{> sparkline type="line" array=current_user_number_array options=options2}} -->
                                    <div id="current_world_avg_price_graph" class="sparklines" values='{{current_user_number_array}}'></div>
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <small class="stats-label">Fulfilment</small>
                                            <h4>{{ratio_potential_current_users}}%</h4>
                                        </div>

                                        <div class="col-xs-4">
                                            <small class="stats-label">% New users</small>
                                            <h4>{{new_users}}%</h4>
                                        </div>
                                        <div class="col-xs-4">
                                            <small class="stats-label">Last period</small>
                                            <h4>{{last_period_world_users}}</h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-4">

                                    <div class="row m-t-xs">
                                        <div class="col-xs-6">
                                            <h5 class="m-b-xs">Demand</h5>
                                            <h1 class="no-margins">$ {{world_demand}}</h1>
                                            <!-- <div class="font-bold text-navy">98% <i class="fa fa-bolt"></i></div> -->
                                        </div>
                                        <div class="col-xs-6">
                                            <h5 class="m-b-xs">Market</h5>
                                            <h1 class="no-margins">$ {{world_market}}</h1>
                                            <!-- <div class="font-bold text-navy">98% <i class="fa fa-bolt"></i></div> -->
                                        </div>
                                    </div>


                                    <table class="table small m-t-sm">
                                        <tbody>
                                        <tr>
                                            <td>
                                                <strong>{{people_number}}</strong> People

                                            </td>
                                            <td>
                                                <strong>{{companies_number}}</strong> Companies
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>{{active_customers_number}}</strong> Active customers
                                            </td>
                                            <td>
                                                <strong>{{products_number}}</strong> Products
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <strong>$ {{avg_income}}</strong> Avg. income
                                            </td>
                                            <td>
                                                <strong>{{clients_number}}</strong> Clients
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>


                            <div class="row" style="margin-top:50px;">
                                <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-9">
                                                    <div class="flot-chart">
                                                        <div class="flot-chart-content" id="flot-dashboard-chart" style="padding: 0px; position: relative;">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                <ul class="stat-list">
                                                    <li>
                                                        <h2 class="no-margins">2,346</h2>
                                                        <small>Total orders in period</small>
                                                        <div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i></div>
                                                        <div class="progress progress-mini">
                                                            <div style="width: 48%;" class="progress-bar"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <h2 class="no-margins ">4,422</h2>
                                                        <small>Orders in last month</small>
                                                        <div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i></div>
                                                        <div class="progress progress-mini">
                                                            <div style="width: 60%;" class="progress-bar"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <h2 class="no-margins ">9,180</h2>
                                                        <small>Monthly income from orders</small>
                                                        <div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i></div>
                                                        <div class="progress progress-mini">
                                                            <div style="width: 22%;" class="progress-bar"></div>
                                                        </div>
                                                    </li>
                                                    </ul>
                                                </div>
                                            </div>
                                </div>
                            </div>

                            <!-- <div class="row text-center">
                                <div class="col-xs-4">
                                    <div class=" m-l-md">
                                    <span class="h4 font-bold m-t block">$ 406,100</span>
                                    <small class="text-muted m-b block">Sales marketing report</small>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <span class="h4 font-bold m-t block">$ 150,401</span>
                                    <small class="text-muted m-b block">Annual sales revenue</small>
                                </div>
                                <div class="col-xs-4">
                                    <span class="h4 font-bold m-t block">$ 16,822</span>
                                    <small class="text-muted m-b block">Half-year revenue margin</small>
                                </div>
                            </div> -->

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="small pull-left col-md-3 m-l-lg m-t-md">
                                        <strong>Sales chart</strong> have evolved over the years sometimes.
                                    </div>
                                    <div class="small pull-right col-md-3 m-t-md text-right">
                                        <strong>There are many</strong> variations of passages of Lorem Ipsum available, but the majority have suffered.
                                    </div>

                                    <div class="flot-chart dashboard-chart">
                                        <div class="flot-chart-content" id="flot-dashboard1-chart"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    </div>
                </div>
            </div>
        <!-- </div> -->
        </div>
</template>