<template name="world">
	   <!-- <div class="row">
                <div class="col-lg-12">
                	<div class="ibox">
                	<div class="ibox-content">
                    <div class="tabs-container">
                        <ul class="nav nav-pills nav-justified">
                            <li class="" style="border-left:none;"><a data-toggle="tab" href="#tab-1" aria-expanded="true">World</a></li>
                            <li class="" style="border-left:none;"><a data-toggle="tab" href="#tab-2" aria-expanded="false">Segment</a></li>
                            <li class="active" style="border-left:none;"><a data-toggle="tab" href="#tab-3" aria-expanded="false">Customers</a></li>
                        </ul>
                    </div>
                    </div>
                    </div>
                    <div class="ibox">
                    <div class="ibox-content">
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane">
                                <div class="panel-body" style="padding: 0px;">
                                    {{>world_info}}
                                </div>
                            </div>
                            <div id="tab-2" class="tab-pane">
                                <div class="panel-body" style="padding: 0px;">
                                    {{>segment_info}}
                                </div>
                            </div>
                            <div id="tab-3" class="tab-pane active">
                                <div class="panel-body" style="padding: 0px;">
                                    {{>customers}}
                                </div>
                            </div>
                        </div>


                        </div>
                    </div>
                </div>
            </div> -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                    <div class="ibox-content">
                        <ul class="nav nav-pills nav-justified">
                            <li class="{{isActiveRoute regex='world'}}" style="border-left:none;"><a href="{{pathFor route='world'}}">World</a></li>
                            <li class="{{isActiveRoute regex='segment'}}" style="border-left:none;"><a href="{{pathFor route='segment'}}">Segment</a></li>
                            <li class="{{isActiveRoute regex='news'}}" style="border-left:none;"><a href="{{pathFor route='news'}}">News</a></li>
                            <li class="{{isActiveRoute regex='products'}}" style="border-left:none;"><a href="{{pathFor route='products'}}">Products</a></li>
                            <li class="{{isActiveRoute regex='customers'}}" style="border-left:none;"><a href="{{pathFor route='customers'}}">Customers</a></li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
</template>





